#!/bin/bash

alias grep='grep --color=auto'
alias l='ls -ltra'
alias mci='mvn clean install'
alias mcis='mvn clean install -DskipTests'
alias mjr='mvn jetty:run'
alias scan_for_wireless_ssids='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/A/Resources/airport scan'
